vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|20 Jul 2003 04:01:30 -0000
vti_extenderversion:SR|5.0.2.2623
vti_author:SR|NEO\\Chris
vti_modifiedby:SR|NEO\\Chris
vti_timecreated:TR|20 Jul 2003 04:01:30 -0000
vti_cacheddtm:TX|20 Jul 2003 04:01:30 -0000
vti_filesize:IR|402
vti_lineageid:SR|{FAEDFF95-4D99-4A51-858C-915B9734EFA0}
vti_backlinkinfo:VX|the-spot.net/forum/templates/subSilver/subSilver.css
