vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|20 Jul 2003 04:02:50 -0000
vti_extenderversion:SR|5.0.2.2623
vti_backlinkinfo:VX|the-spot.net/forum/docs/CHANGELOG.html the-spot.net/forum/docs/FAQ.html the-spot.net/forum/docs/README.html the-spot.net/forum/docs/INSTALL.html
vti_author:SR|NEO\\Chris
vti_modifiedby:SR|NEO\\Chris
vti_timecreated:TR|20 Jul 2003 04:02:50 -0000
vti_cacheddtm:TX|20 Jul 2003 04:02:50 -0000
vti_filesize:IR|7441
vti_cachedlinkinfo:VX|S|images/bg.jpg S|images/cellpic2.jpg S|images/cellpic3.gif S|images/cellpic1.gif Q|formIE.css
vti_cachedsvcrellinks:VX|FSUS|the-spot.net/forum/templates/subSilver/images/bg.jpg FSUS|the-spot.net/forum/templates/subSilver/images/cellpic2.jpg FSUS|the-spot.net/forum/templates/subSilver/images/cellpic3.gif FSUS|the-spot.net/forum/templates/subSilver/images/cellpic1.gif FQUS|the-spot.net/forum/templates/subSilver/formIE.css
vti_lineageid:SR|{0524AB75-95B6-4972-AFA0-8EB3C959CBB5}
